.background-color {
    background-color: #ECE6DA;
}

.text, li {
    font-family: "Inria Sans", serif;
    font-weight: lighter;
    font-weight: 300;
    font-style: normal;
    color: #3D3D3D;
}

.header {
    font-size: xx-large;
    font-style: oblique;
    color: #5b7d5b;
}

.header-text {
    font-size: large;
    color: #3d573d;
}

.header-paragraph {
    font-size: medium;
    color: #3d573d;
}

p {
    font-weight: norm;
    color: #3d573d;
}

.section-header {
    font-size: large;
    color: #5b7d5b;
}

.section-text {
    font-family: "Inria Sans", serif;
    font-weight: 300;
    font-style: normal;
    color: #3D3D3D;
}

.container {
    margin-top: 80px;
    margin-bottom: 100px;
}

.first-button {
    color: #ECE6DA;
    background-color: #788667 !important;
    border-color: transparent !important;
    outline: none !important;
}

.second-button {
    color: #ECE6DA;
    background-color: #a38f78 !important;
    border-color: transparent !important;
    outline: none !important;
}